body {
	position: relative;
	margin: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	color: #333333;
	text-transform: uppercase;
	background-color: #f2f2f2;
	background-position: top center;
  background-repeat: no-repeat;

}

.body {
  width: 1200px;
  margin: auto;
  box-shadow: 0 0 10px 10px rgba(221, 221, 221, 1); 
}

a {
	text-decoration: none;
}



.calendar{
	background-image: url('img/calendar.svg') no-repeat 50% 50%;  
}

ul {
  list-style: none;
    padding: 0; /* убираем отступы у Ul и LI */
    margin: 0; /* убираем поля */
vertical-align: middle;
}

/*h2 {
  font-size: 30px;
  font-weight: bold;
}*/
.main-header{
  position: relative;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.main-nav {
  line-height: 26px;
  font-weight: bold;
  background-color: #ffffff;
}

.main-nav a {
  color: #000000;
}

.main-nav a:hover,
.main-nav a:focus {
  color: #81b3d2;
}

.main-nav a:active {
  color: rgba(0, 0, 0, 0.3);
}

.menu{
  display: flex;
  justify-content: space-between;
  min-height: 56px;
}
.menu li{
  margin: auto;
}
.menu-mini:nth-child(2) {
    margin-right: 315px; 
   } 
   .menu-mini:nth-child(3) {
    margin-right: 93px; 
   } 



.menu-mini:nth-child(4n-1) {
 text-align: right;
}

.menu-mini:nth-child(4n) {
 text-align: right;
}
.interesting {
height: 170px;
margin: 60px;
}
.interesting h2{
font-size: 30px;

}

.header-title {
  text-align: center;
  line-height: 26px;
  font-size: 21px;
  font-weight: bold;
  padding-top: 38px;
  padding-bottom: 7px;
}

.header-slogon,
.interesting p {
  text-align: center;
  line-height: 26px;
  background-color: #ffffff;
  color: #333333;
}

.map {
    background-color: #f2f2f2;

  height: 590px;
      /*position: absolute;*/
}

.home-footer {
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute; 
  bottom: 0px;
}

.home-footer span {

  line-height: 26px;
  font-weight: bold;
}

.share ul {
  list-style: none;
   padding: 0;
}
/*
.header-background {
  background: #c0d6e4 url('../img/background-photo.png') no-repeat center;
  width: 1200px;
  height: 509px;
  background-position-y: -68px;
}
.intro{
 width: 1200px;
}
*/
.header-background {
  background-color: lightblue;
  background: url('../img/background-photo.png');
  background-position: center -68px; 
  background-repeat:  no-repeat;
  background-size: 100%;

  width: 1200px;
  height: 509px;
position: relative;
}

.header-background:after {
  background-image: url(../ing/intro-mask.svg);
  background-repeat:  no-repeat;
  position: absolute;
z-index: 2;
content: '';
height: 50px;
left: 0;
right: 0;
bottom: 0;
}
.logo {
  position: absolute;
  left: 50%;
  z-index: 2;
  /*margin-left: -70px;*/
  transform: translateX(-70px);
        margin-top: -56px;
}
.intro-text {
  position: absolute;
  z-index: 2;
      margin-top: 75px;
       margin-left: 370px;
}

.intro-text2 {
  position: absolute;
  z-index: 2;
    margin-top: 452px;
     min-width: 1200px;
}

.feature-text{
  text-align: center;
  padding: 33px 30px 0;
  color: #ffffff;

  background-color: #81b3d2;
  width: 400px;
}

.main-info{
  background-color: #fff;
  padding-top: -50px;
}

.container {
	background-color: #ffffff;
	color: #333333;
	text-align: center;

	min-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.container h1 {
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;

	color: #000000;
}

.container ul {
	padding: 0;
}

.container p:first-child {
	font-size: 14px;
	line-height: 26px;
}

/* настоящий городок / мост  */

.features,
.bridge{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #81b3d2;
  text-align: center;
  margin-top: 46px;
}

.intro img,
.feature-img img,
.bridge-img img,
.map img{
  display: block;

  /*position: relative;*/
}

.feature-text {
  font-size: 14px;
  font-weight: bold;
  background-color: #81b3d2;
  color: #ffffff;
  margin: auto;
}
.feature-text h2{
  font-size: 21px;
  font-weight: bold;
  background-color: #81b3d2;
  color: #ffffff;
margin-top: -30px;
    padding: 3px 100px;
}


.bridge-text {
  font-size: 14px;
  font-weight: bold;
  background-color: #81b3d2;
  color: #ffffff;
  margin: auto;
}


.bridge-text h2{
  font-size: 21px;
  font-weight: bold;
  background-color: #81b3d2;
  color: #ffffff;
margin-top: -8px;
    padding: 8px 100px;
}

.number{
  padding:25px 0;
}

.bridge h2,
.bridge p{
  color: #ffffff;;
  line-height: 21px;
}

.features h2,
.features p{
  color: #ffffff;;
  line-height: 21px;
}

/*блоки особенности*/
.features-items{
  display: flex;
  align-items: center;
  min-height: 333px;
}

.feature-items{
  flex-grow: 1;
}

.feature-items h3{
  padding: 1px 0;
     font-size: 21px;
}

.services{
  background-color: #ffffff;
    padding-top: 3px;
      height: 280px;
}

.feature-items{
  text-align: center;
}
.feature-items p{
margin-top: -20px;
    padding: 10px 0;
}


.feature-items-bloc{
  padding-bottom: 85px; 
  margin: 50px;
  padding: 0 50px;
margin-top: -30px;
}

.feature-items-bloc h2{
  padding-bottom: 85px; 
  margin: 20px;
  padding: 0 30px;
}

.feature-items-bloc p{

  padding: 0 -30px;
}


.features-info{
  background-color: #eeeeee;
  text-align: center;
  height: 255px;
}

.features-info h2{
  padding: 1px 0;
     font-size: 21px;
}
/********** Footer **************/
.home-footer{
  display: flex;
  align-items: center;
  width: 1200px;
  min-height: 118px;
  margin: 0 auto;
  background-color: rgba(255,255,255,0.8);
  opacity: 0.7;
}
.home-footer-catalog{
  display: flex;
  align-items: center;
  width: 1200px;
  min-height: 120px;
  margin: 0 auto;
  background-color: rgba(255,255,255);

}

.visitsedona,
.share,
.copyright-logo{
  display: flex;
  flex-grow: 1;
}
.visitsedona{
    font-size: 21px;
  margin-left: 150px;

}
.share{
  justify-content: center;
  margin-left: 160px;
}
.copyright-logo{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 100px;
}
.share-list{
  display: flex;
  align-items: center;
}

li.soc-item a{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
  width: 47px;
  height: 47px;
  background-color: #81b3d2;
}
li.soc-item:last-child{
  margin-right: 0;
}
li.soc-item a:hover{
  background-color: #669ec0;
}
li.soc-item a:focus{
  background-color: #5496bd;
}
.copyright-logo p{
  margin: 0;
  padding-right: 8px;
}
.copyright-logo a{
  height: 41px;
}

.copy-logo:hover path,
.copy-logo:focus path{
  fill: #81b3d2;
}

.copy-logo:active path{
  fill: #bdbbbc;
}
/*****заинтересовались***/
.interested{
  background-color: #ffffff;
  text-align: center;
}
.interested h2{
  font-size: 30px;
  line-height: 36px;
  padding-top: 50px;

}

.interested p{
  font-size: 14px;
  line-height: 24px;
  padding: 30px 0 50px;
}
.sinteresting-form{
  display: inline-block;
  text-decoration: none;
  background-color: #766357;
  padding: 15px 100px;
    width: 570px;
    height:86px;
    margin: 25px;
}
.sinteresting-form:hover{
  background-color: #604e43;
}
.sinteresting-form:focus{
  background-color: #503e33;
  color: #857871;
}
.sinteresting-form h2{
  font-size: 21px;
  line-height: 21px;
  color: #eee;
  text-transform: uppercase; 
}

.knopka{
position: relative;
}

.visually-hidden{
  display: none;
}

.form-search{
  width: 568px;
  height: 395px;
  -webkit-box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
          box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);

  position: absolute;
  display: block;

  color: #000000;
  background-color: #ffffff;

  z-index: 1000;


  left: 316px;
}

.modal-close {
  display: none;
  -webkit-animation-name: bounce;
      animation-name: bounce;
  -webkit-animation-duration: 0.6s;
      animation-duration: 0.6s;
}

.search-form-invisible{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
    -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-align: center;
    -ms-flex-align: center;
      align-items: center;
}

.in-row {
  position: relative;
  margin: -25px;
  padding: 0;
  line-height: 26px;
  margin-top: 55px;

}
label{
  padding-right: 16px;
}

.date-in {
  padding-right: 22px;
}


.calendar {
  position: absolute;
  top: 7px;
  right: 5px;
  background-color: transparent;
  border: none;
}
.calendar path {
  fill: #cacaca;
}

.calendar:hover path,
.calendar:focus path {
  fill: #000000;
}

.calendar:active path {
  fill: #81b3d2;
}
.date-out {
  padding-right: 18px;
}
.booking-people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 54px;
}

.booking-people label {
  padding-top: 6px;
  padding-bottom: 6px;
}
.adults {
  position: relative;
  margin: 0;
  padding: 0;
  line-height: 26px;
}

.adults input {
  font: inherit;
}

.choice-adults {
  padding-right: 40px;
}
.button-minus-adults:hover path,
.button-minus-adults:focus path,
.button-plus-child:hover path,
.button-plus-child:focus path {
  fill: #000000;
}

.button-minus-adults:active path,
.button-plus-adults:active path {
  fill: #81b3d2;
}
.button-minus-child {
  padding: 0;
  width: 38px;
  height: 38px;
        border: 0;
  background-color: #f2f2f2;
  cursor: pointer;
}
.button-plus-child {
  padding: 0;
  width: 38px;
  height: 38px;
        border: 0;
  background-color: #f2f2f2;
  cursor: pointer;
}

.button-minus-adults {
  padding: 0;
  width: 38px;
  height: 38px;
      border: 0;
  background-color: #f2f2f2;
  cursor: pointer;
}
.button-plus-adults {
  padding: 0;
  width: 38px;
  height: 38px;
        border: 0;
  background-color: #f2f2f2;
  cursor: pointer;
}
.button-minus-adults path,
.button-plus-adults path,
.button-minus-child path,
.button-plus-child path {
  fill: #cacaca;
}
.booking-people .button-plus-adults {
  margin-right: 53px;
}
.quantity {
  -webkit-box-sizing: border-box;
      box-sizing: border-box;
  border: 0;
  width: 38px;
  height: 38px;

  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  color: #000000;
  background-color: #f2f2f2;
}

.quantity:hover {
  background-color: #ebebeb;
}

.quantity:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  outline: none;
}

/*Правила для стилизации placeholder*/

.departure-date::-webkit-input-placeholder,
.arrival-date::-webkit-input-placeholder,
.quantity::-webkit-input-placeholder { 
  color: #000000;
}

.departure-date:-ms-input-placeholder,
.arrival-date:-ms-input-placeholder,
.quantity:-ms-input-placeholder { 
  color: #000000;
}

.departure-date::-ms-input-placeholder,
.arrival-date::-ms-input-placeholder,
.quantity::-ms-input-placeholder { 
  color: #000000;
}

.departure-date::placeholder,
.arrival-date::placeholder,
.quantity::placeholder { 
  color: #000000;
}

.arrival-date,
.departure-date {
  -webkit-box-sizing: border-box;
      box-sizing: border-box;
  padding: 0;
  border: 0;
  width: 349px;
  height: 38px;

  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  background-color: #f2f2f2;
}

.arrival-date:hover,
.departure-date:hover {
  background-color: #ebebeb;
}

.arrival-date:focus,
.departure-date:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  outline: none;
}

.arrival-date {
  padding-left: 13px;
}

.departure-date {
  padding-left: 13px;
}
.choice-child {
  padding-right: 27px;
}

.find {
  display: inline-block;  
  padding-top: 16px;
  padding-bottom: 16px;
  min-width: 460px;
  
  text-align: center;
  vertical-align: middle;
  
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  
  background-color: #81b3d2;
  border: none;
  cursor: pointer;
}

.find:hover {
  background-color: #669ec0;
}

.find:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

/*--- catalog----*/
.result {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e5e5;

}
.result h2{
  padding: 30px 50px 30px 70px;
}

.up-down-sort{
  display: flex;
  margin-left: auto;
  margin-right: 73px;
}
.up-down-sort a{
  padding-right: 10px;
}
.result-list {
  display: flex;
  align-items: center;
}
.result-list li{
  padding-right: 33px;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}
.result-list li:first-child{
  padding-right: 40px;
}

.result-list a{
  text-decoration: none;
  color: #999999;
  border-bottom: 1px dotted #81b3d2;
}
.result-list a.active-sort{
  border-bottom: none;
  color: #81b3d2;
}
/*****результат******/
.result-item{
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e5e5;
 /* margin-left: 114px;*/
}
.result-item > img{
  padding: 30px 30px 30px 73px;
}
}
.result-item h2{
  line-height: 26px;
}
.result-item span{
  line-height: 21px;
}
.result-info div{
  display: flex;
  padding: 5px 0 10px;
}
.result-info h2{
 padding: 0;
 margin: 0;
 text-align: left;
}


.info-btn{
  padding: 8px 17px;
  background-color: #81b3d2;
}
.info-btn:hover{
  background-color: #669ec0;
}
.info-btn:focus{
  background-color: #5496bd;
  color: #88b6d1;
}
.book-btn{
  padding: 8px 17px;
  background-color: #766357;
}
.book-btn:hover{
  background-color: #604e43;
}
.book-btn:focus{
  background-color: #503e33;
  color: #857871;
}
.info-btn,
.book-btn{
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}
.result-rating{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
  margin-right: 73px;
}
.stars{
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}
.mark{
  display: inline-block;
  padding: 7px 15px;
  background-color: #f2f2f2;
  color: #666666;
}
/*********** Инфраструктура ************/
.selection{
  
  background: url("../img/filter-background.jpg") no-repeat center;
}
.selection-form{
  width: 1200px;
  min-height: 219px;
  display: flex;
  justify-content: space-between;
}
.selection-form .infrastructure {
  text-align: left;
  padding-top: 15px;
  margin-left: 73px;
}


.selection-form h2,
.price h2{
  padding-top: 20x;
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}
.selection-form label{
  color: #ffffff;
  padding-left: 17px;
}
.selection-list-1 li {
  padding-top: 15px;
}

.price{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 73px;
  color: #ffffff;
}
.submit-button{
  width: 137px;
  background-color: transparent;
  border: 2px solid white;
  padding: 10px;
  border-radius: 2px;
  color: #ffffff;
  font-size: 21px;
  line-height: 21px;
  text-transform: uppercase;
}
.price .submit-button{
  margin-left: auto;
  margin-right: auto;
}

/*от до*/

.catalog-filter-price {
  border: 2px solid #ffffff;
  border-radius: 2px;
  display: flex;
  padding: 0px 7px;
  margin: 10px 0px 20px 0px;
  position: relative;
  height: 32px;
}

.catalog-filter-price::after {
  content: "";
  width: 2px;
  height: 22px;
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  top: 7px;
}

.catalog-filter-price label {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 32px;
  font-weight: normal;
  color: #ffffff;
  width: 73px;
  padding-right: 2px;
  text-align: right;
}

.catalog-filter-price input {
  padding: 0;
  font-size: 14px;
  line-height: 32px;
  color: #ffffff;
  background-color: transparent;
  width: 75px;
  border-style: none;
  vertical-align: middle;
}

.catalog-filter-price-slider {
  width: 317px;
  height: 2px;
  background-color: rgba(255,255,255,0.3);
  margin: 0;
  position: relative;
}

.catalog-filter-price-slider::before {
  content: "";
  width: 255px;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  top: 0%;
  left: 0%;
}



.catalog-filter-price-slider-min:hover,
.catalog-filter-price-slider-min:focus,
.catalog-filter-price-slider-max:hover,
.catalog-filter-price-slider-max:focus {
  border: 9px solid #ffffff;
  box-shadow: 0 2px 0 0 rgba(255,255,255,0.3);
  border-radius: 50%;
  position: absolute;
  top: -10px;
  cursor: pointer;
}

.catalog-filter-price-slider-min,
.catalog-filter-price-slider-max{
  width: 4px;
  height: 4px;
  background-color: #ababab;
  border: 8px solid #ffffff;
  box-shadow: 0 2px 0 0 rgba(255,255,255,0.3);
  border-radius: 50%;
  position: absolute;
  top: -9px;
}

.catalog-filter-price-slider-min {
  left: 0px;
}

.catalog-filter-price-slider-max {
  left: 255px;
}


.filter-button {
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  padding: 0px 35px;
  color: #ffffff;
  font-size: 14px;
  line-height: 32px;
  min-width: 32px;
  text-transform: uppercase;
  margin: 30px auto 0px auto;
}

.filter-button:hover,
.filter-button:focus{
  background-color: #ffffff;
  color: #000000;
}



.catalog-filter-option label {
  position: relative;
  cursor: pointer;
  margin-left: 40px;
}

.catalog-filter-option label::before {
  content: "";
  position: absolute;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  width: 27px; 
  height: 23px;
  left: -40px;
  z-index: 1;
}

.catalog-filter-option input[type="checkbox"]:disabled ~ label::before {
  background-image: url("../img/checkbox-off-dis.svg");
}

.catalog-filter-option input[type="checkbox"]:checked:disabled ~ label::before {
  background-image: url("../img/checkbox-on-dis.svg");
}

.catalog-filter-option input[type="checkbox"]:checked ~ label::before {
  background-image: url("../img/checkbox-on.svg");
}

.catalog-filter-option input[type="checkbox"]:focus ~ label {
  border-color: #663d15;
  outline: 5px auto -webkit-focus-ring-color;
  outline: thin dotted;
}
.catalog-category {
  width: 110px;
  margin-right: 6px;
  text-align: left;
}