body {
	position: relative;
	margin: 0;
	padding: 0 40px;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	color: #333333;
	text-transform: uppercase;
	background-color: #f2f2f2;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}
