body {
	position: relative;
	margin: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	color: #333333;
	text-transform: uppercase;
	background-color: #f2f2f2;
	background-position: top center;
  background-repeat: no-repeat;
}

.body {
  width: 1280px;
  margin: auto;
  box-shadow: 0 0 10px 10px rgba(221, 221, 221, 1); 
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.calendar{
	background-image: url('img/calendar.svg') no-repeat 50% 50%;  
}

ul {
  list-style: none;
      display: flex;
    padding: 0; /* убираем отступы у Ul и LI */
    margin: 0; /* убираем поля */

}

h2 {
  font-size: 21px;
  font-weight: bold;
}

.main-header{
  width: 1280px;
  margin: 0 auto;
  background-color: #ffffff;
}

.main-nav {
  line-height: 26px;
  font-weight: bold;
  background-color: #ffffff;
}

.main-nav a {
  color: #000000;
}

.main-nav a:hover,
.main-nav a:focus {
  color: #81b3d2;
}

.main-nav a:active {
  color: rgba(0, 0, 0, 0.3);
}

.menu{
  display: flex;
  justify-content: space-between;
  min-height: 56px;
}
.menu li{
  margin: auto;
}

.interesting span {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
}

.header-title {
  text-align: center;
  line-height: 26px;
  font-size: 21px;
  font-weight: bold;
}

.header-slogon,
.interesting p {
  text-align: center;
  line-height: 26px;
  background-color: #ffffff;
  color: #333333;
}

.map {
    background-color: #f2f2f2;
      position: absolute;
}

.home-footer {
  background-color: rgba(255, 255, 255, 0.9);
}

.home-footer span {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.share ul {
  list-style: none;
   padding: 0;
}

.header-background {
  background: #c0d6e4 url('../img/background-photo.png') no-repeat center;
  width: 1280px;
  height: 518px;
  background-size: cover;
}

.logo {
  position: absolute;
  left: 50%;
  z-index: 2;
  /*margin-left: -70px;*/
  transform: translateX(-70px);
        margin-top: -28px;
}
.intro-text {
  position: absolute;
  z-index: 2;
      margin-top: 75px;
       margin-left: 450px;
}

.intro-text2 {
  position: absolute;
  z-index: 2;
    margin-top: 458px;
      width: 1280px;
}

.container {
	background-color: #ffffff;
	color: #333333;
	text-align: center;

	width: 1280px;
	margin-left: auto;
	margin-right: auto;
}

.container h1 {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;

	color: #000000;
}

.container ul {
	padding: 0;
}

.container p:first-child {
	font-size: 14px;
	line-height: 26px;
}

/* настоящий городок / мост  */

.features,
.bridge{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #81b3d2;
  text-align: center;
}

.intro img,
.feature-img img,
.bridge-img img,
.map img{
  display: block;

  /*position: relative;*/
}

.feature-text,
.bridge-text {
  font-size: 21px;
  font-weight: bold;
  background-color: #81b3d2;
  color: #ffffff;
  margin: auto;
}

.number{
  padding:25px 0;
}

.bridge h2,
.bridge p{
  color: #ffffff;;
  line-height: 21px;
}

.features h2,
.features p{
  color: #ffffff;;
  line-height: 21px;
}

/*блоки особенности*/
.features-items{
  display: flex;
  align-items: center;
  min-height: 333px;
}

.feature-items{
  flex-grow: 1;
}

.feature-items h3{
  padding: 25px 0;
}

.services{
  background-color: #ffffff;
}

.feature-items{
  text-align: center;;
}

.features-info{
  background-color: #eeeeee;
  text-align: center;
}
/********** Footer **************/
.home-footer{
  display: flex;
  align-items: center;
  width: 1280px;
  min-height: 120px;
  margin: 0 auto;
  background-color: rgba(255,255,255,0.8);
  opacity: 0.7;
  position: relative;
        margin-top: 520px;
}
.visitsedona,
.share,
.copyright-logo{
  display: flex;
  flex-grow: 1;
}
.visitsedona{
  margin-left: 134px;
}
.share{
  justify-content: center;
  margin-left: 250px;
}
.copyright-logo{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 100px;
}
.share-list{
  display: flex;
  align-items: center;
}

li.soc-item a{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
  width: 47px;
  height: 47px;
  background-color: #81b3d2;
}
li.soc-item:last-child{
  margin-right: 0;
}
li.soc-item a:hover{
  background-color: #669ec0;
}
li.soc-item a:focus{
  background-color: #5496bd;
}
.copyright-logo p{
  margin: 0;
  padding-right: 8px;
}
.copyright-logo a{
  height: 41px;
}
.copy-logo a:focus{
    background-color: #5496bd;
}
/*****заинтересовались***/
.interested{
  background-color: #ffffff;
  text-align: center;
}
.interested h2{
  font-size: 30px;
  line-height: 36px;
  padding-top: 50px;
}
.interested p{
  font-size: 14px;
  line-height: 24px;
  padding: 30px 0 50px;
}
.sinteresting-form{
  display: inline-block;
  text-decoration: none;
  background-color: #766357;
  padding: 35px 140px;
}
.sinteresting-form:hover{
  background-color: #604e43;
}
.sinteresting-form:focus{
  background-color: #503e33;
  color: #857871;
}
.sinteresting-form h2{
  font-size: 21px;
  line-height: 24px;
  color: #eee;
  text-transform: uppercase; 
}

.visually-hidden{
  display: none;
}

.form-search{
  display: none;
}